<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Random Word</title>
        <!-- {% load static %} -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href={% static 'css/styles.css' %} rel="stylesheet"> -->
    </head>
    <body>
        <div>
            <p>Random Word (attempt #{{request.session.attempt}})</p>
    
            <h1>{{request.session.random_word}}</h1>
            <form action='/generate', method='POST'>
                {% csrf_token %}
                <input type='submit' value='Generate'>
            </form>
            <form action='/reset', methon='POST'>
                {% csrf_token %}
                <input type='submit' value='Reset'>
            </form>
        </div>
    
    </body>
</html>